@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@200;300;400;600;700;800;900&display=swap');

body {
    font-family: var(--paragraph-font);
    font-weight: var(--paragraph-font-weight);
    max-width: 960px;
    padding: 20px;
}

:root {
    --primary-color: #134266;
    --secondary-color: #F7F7F7;
    --accent1-color: #78C5D7;
    --accent2-color: #FCE172;

    --heading-font: "Biryani", sans-serif;
    --heading-font-weight: 800;
    --paragraph-font: "Biryani", sans-serif;
    --paragraph-font-weight: 300;
    --nav-background-color: #134266;
    --nav-link-color: #F7F7F7;
    --nav-hover-link-color: #FCE172;
    --nav-hover-background-color: #78C5D7;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    font-weight: var(--heading-font-weight);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}