nav {
    background-color: purple;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 10px;
}

h1 {
    color: purple;
}

img {
    width: 200px;
    height: auto;
    border: 1px solid white;
    padding: 5px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 10px;
}