* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-size: 16px;
    font-family: Montserrat, sans-serif;
}

nav {
    background-color: purple;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 10px;
}

h1 {
    padding: 1rem 0 0 1rem;
    color: purple;
}

main img {
    width: 200px;
    height: auto;
    border: 1px solid white;
    padding: 5px;
    margin: 1rem 0 0 2rem;
    box-shadow: 0 0 30px gray;
    float: right;
}

p {
    margin: 1rem;
    padding: 0;
    text-align: justify;
}

main {
    max-width: 840px;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
    /* margin: 1rem; */
}

aside h2 {
    font-size: 24px;
    position: absolute;
    top: 25px;
    left: 162px;
    color: white;
}

footer {
    margin-top: 15px;
    border-top: 1px solid black;
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.1);
    color: black;
}

.indent {
    padding-left: 2rem;
}